/**************************************
default-padding
**************************************/
#default-padding-small-0 {
    padding-top: 3px;
    padding-bottom: 3px;
}

#default-padding-small {
    padding-top: 5px;
    padding-bottom: 5px;
}

#default-padding-small-1 {
    padding-top: 10px;
    padding-bottom: 10px;
}

#default-padding-mid {
    padding-top: 15px;
    padding-bottom: 15px;
}

#default-padding-mid-1 {
    padding-top: 20px;
    padding-bottom: 20px;
}

#default-padding-big {
    padding-top: 30px;
    padding-bottom: 30px;
}
/**************************************
sort
**************************************/
.sort > h5 > span {
    /*border: 1px solid #FF0000;*/
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: auto;
}
.sort > h5 > .sort-text {
    height: 20px;
}
/**************************************
/novel/novel_info.blade.php
**************************************/
#novel-info-1 .novel-info-upper-text {
    padding-top: 30px;
}
#novel-info-1 .novel-info-upper-icon > i {
    padding-top: 30px;
    font-size: 40px;
}
#novel-info-1 .novel-info-upper-icon > h4 {
    font-size: 16px;
}

#novel-info-2 .hit-icon {
    font-size: 20px;
}
#novel-info-2 .upload-day > b {
    color: #FA9600;
}
#novel-info-2 .novel-1st-read-Btn, .novel-background-read-Btn {
    font-size: 22px;
}

#novel-info-3 .check-icon {
    color: #FA9600;
}
#novel-info-3 .episode {
    border: 1px solid rgba(149, 152, 154, .5) !important;
}
#novel-info-3 .episode-list {
    padding-top: 40px;
    padding-bottom: 40px;
}
#novel-info-3 .episode-list > i {
    font-size: 17px;
}

#novel-info-4 .check-icon {
    color: #FA9600;
}
#novel-info-4 .review-list {
    border-bottom: 1px solid rgba(149, 152, 154, .5) !important;
}
#novel-info-4 .thumb-up {
    color: #FA9600;
}
#novel-info-4 .thumb-up > span {
    /*border: 1px solid #FF0000;*/
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: auto;
}
#novel-info-4 .thumb-up > span > i {
    color: #FA9600;
    font-size: 16px;
}
#novel-info-4 .review > span {
    /*border: 1px solid #FF0000;*/
    display: inline-block;
    overflow: hidden;
    position: relative;
    width: auto;
}
#novel-info-4 .review .re-review-text {
    height: 28px;
}
#novel-info-4 .review > span > i {
    color: rgba(149, 152, 154, .5) !important;
}
